@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #F8F8F8;
  color: #222222;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 80px 8%;
}
